#counter {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 2px solid lightblue;
    justify-content: space-around;
    width: 50%;
    height: 5vh;
    align-items: center;

    .title {

    }

    .content {

    }
}